<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th></th>
            <% if get_columns(params).include?("supplier_code") %>
                <th>
                    <%= t('.supplier_code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("supplier_name") %>
                <th>
                    <%= t('.supplier_name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("begin_period_debt") %>
                <th>
                    <%= t('.begin_period_debt') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("debit") %>
                <th>
                    <%= t('.debit') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("credit") %>
                <th>
                    <%= t('.credit') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("end_period_debt") %>
                <th>
                    <%= t('.end_period_debt') %>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td></td>
            <td><strong>Số người bán: 3</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
        </tr>
        <% (1..3).each do |row| %>
            <tr class="odd gradeX">
                <td></td>
                <% if get_columns(params).include?("supplier_code") %>
                <td>
                    <span class="title">NCC0001</span>
                </td>
                <% end %>
                <% if get_columns(params).include?("supplier_name") %>
                <td>Công ty ABC</td>
                <% end %>
                <% if get_columns(params).include?("begin_period_debt") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("debit") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("credit") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("end_period_debt") %>
                <td>@todo</td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
