<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th></th>
            <% if get_columns(params).include?("supplier_code") %>
                <th>
                    <%= t('.supplier_code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("supplier_name") %>
                <th>
                    <%= t('.supplier_name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("purchase_order_quantity") %>
                <th>
                    <%= t('.purchase_order_quantity') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("total") %>
                <th>
                    <%= t('.total') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("discount") %>
                <th>
                    <%= t('.discount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("purchase_amount") %>
                <th>
                    <%= t('.purchase_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("return_order_quantity") %>
                <th>
                    <%= t('.return_order_quantity') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("return_cost") %>
                <th>
                    <%= t('.return_cost') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("net_revenue") %>
                <th>
                    <%= t('.net_revenue') %>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td></td>
            <td><strong>Số người bán: 3</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
            <td><strong>@todo</strong></td>
        </tr>
        <% (1..3).each do |row| %>
            <tr class="odd gradeX has-child-table" data-url="<%= erp_reports.backend_supplier_purchase_orders_path %>">
                <td></td>
                <% if get_columns(params).include?("supplier_code") %>
                <td>
                    <i class="fa fa-plus expand tr-expand-button"></i>
                    <strong>NCC0001</strong>
                </td>
                <% end %>
                <% if get_columns(params).include?("supplier_name") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("purchase_order_quantity") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("total") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("discount") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("purchase_amount") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("return_order_quantity") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("return_cost") %>
                <td>@todo</td>
                <% end %>
                <% if get_columns(params).include?("net_revenue") %>
                <td>@todo</td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
