<table class="table table-bordered table-striped flip-content">
    <thead class="flip-content">
        <tr>
            <th width="20%" class="text-left">Mã hóa đơn</th>
            <th class="numeric">Thời gian đặt hàng</th>
            <th class="numeric">Nhân viên</th>
            <th class="numeric">Khách hàng</th>
            <th class="numeric">Nhà cung cấp</th>
            <th class="numeric text-right">Tổng tiền hàng</th>
            <th class="numeric text-right">Giảm giá HĐ</th>
            <th class="numeric text-right">Doanh thu</th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td class="text-left"><strong># <%= order.code %></strong></td>
            <td class="text-left"><%= format_date(order.order_date) %></td>
            <td class="text-left"><%= order.salesperson_name %></td>
            <td class="text-left"><%= order.customer_name %></td>
            <td class="text-left"><%= order.supplier_name %></td>
            <td class="numeric text-right"><%= order.total %></td>
            <td class="numeric text-right">@todo</td>
            <td class="numeric text-right"><%= order.total %></td>
        </tr>
        <% end %>
    </tbody>
</table>