<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th></th>
            <% if get_columns(params).include?("product_code") %>
                <th>
                    <%= t('.product_code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("product_name") %>
                <th>
                    <%= t('.product_name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("sales_quantity") %>
                <th>
                    <%= t('.sales_quantity') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("price") %>
                <th>
                    <%= t('.price') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("total_amount") %>
                <th>
                    <%= t('.total_amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("tienchenhlech") %>
                <th>
                    <%= t('.tienchenhlech') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("return_quantity") %>
                <th>
                    <%= t('.return_quantity') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("return_cost") %>
                <th>
                    <%= t('.return_cost') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("net_revenue") %>
                <th>
                    <%= t('.net_revenue') %>
                </th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td></td>
            <td><strong>SL SP: 3</strong></td>
            <td><strong></strong></td>
            <td><strong>12</strong></td>
            <td><strong>8,004,000</strong></td>
            <td><strong>8,004,000</strong></td>
            <td><strong>0</strong></td>
            <td><strong>0</strong></td>
            <td><strong>0</strong></td>
            <td><strong>8,004,000</strong></td>
        </tr>
        <% (1..3).each do |row| %>
            <tr class="odd gradeX has-child-table" data-url="<%= erp_reports.backend_product_sales_of_product_path %>">
                <td></td>
                <% if get_columns(params).include?("product_code") %>
                <td>
                    <i class="fa fa-plus expand tr-expand-button"></i>
                    <strong>SP0001</strong>
                </td>
                <% end %>
                <% if get_columns(params).include?("product_name") %>
                <td>Sản phẩm ABC</td>
                <% end %>
                <% if get_columns(params).include?("sales_quantity") %>
                <td>4</td>
                <% end %>
                <% if get_columns(params).include?("price") %>
                <td>2,668,000</td>
                <% end %>
                <% if get_columns(params).include?("total_amount") %>
                <td>2,668,000</td>
                <% end %>
                <% if get_columns(params).include?("tienchenhlech") %>
                <td>0</td>
                <% end %>
                <% if get_columns(params).include?("return_quantity") %>
                <td>0</td>
                <% end %>
                <% if get_columns(params).include?("return_cost") %>
                <td>0</td>
                <% end %>
                <% if get_columns(params).include?("net_revenue") %>
                <td>2,668,000</td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>